snippet class "Class frame" b
class ${1:name}
{
    // disable copy
    Foo(const $1 &copy);
    Foo& operator=(const $1 &copy);
public:
    $1();
    virtual ~$1();
private:
    ${0:int m_member;}
};
endsnippet
